# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*.exe
*.dll
*.obj
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.suo
*.user
*.sdf
*.dbmdl
*.bak
*.ncb
*.swp
*.tmp
*.csproj.user

# Visual Studio
.vs/
.vscode/
*.sln.docstates

# NuGet
*.nupkg
packages/
*.snupkg

# ASP.NET
wwwroot/
node_modules/
dist/
bundle.js

# Others
*.DS_Store
Thumbs.db

#
*.env
*.env.local
*.env.*.local
secrets.json
appsettings.Development.json
appsettings.Local.json

#
__snapshots__/
*.testlog
*.coverage
coverage/

#
.npm/
.npmrc
.yarn/
.yarnrc
.cache/

#
.husky/_/


